In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_excel(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Datasets\independent-house.xlsx')
df.head()

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,Unnamed: 16,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"â‚¹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,...,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"â‚¹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,...,"Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"â‚¹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,...,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"â‚¹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,...,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...",NaN,"['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"â‚¹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,...,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272

In [18]:
df.drop(columns= 'link', inplace= True)

In [19]:
df.sample(2)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,Unnamed: 16,furnishDetails,features,rating,property_id
215,5 Bedroom House for sale in Sector 33 Gurgaon,Unitech Uniworld Resorts,9.5 Crore,"â‚¹ 23,333/sq.ft.",(418 sq.m.) Plot Area,Plot area 500(418.06 sq.m.),5 Bedrooms,7 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Store Room","Sector 33 Gurgaon, Gurgaon, Haryana",2 Floors,East,2023-12-01 00:00:00,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...",NaN,NaN,"['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment3 out of 5', 'Lifestyle4 out of 5...",Y69896412
259,1 Bedroom House for sale in Mianwali Colony,Project Mianwali Colony,1.7 Crore,"â‚¹ 9,444/sq.ft.",(167 sq.m.) Carpet Area,Carpet area: 1800 (167.23 sq.m.),1 Bedroom,1 Bathroom,2 Balconies,NaN,"Mianwali Colony, Sector 12a, Mianwali Colony, ...",1 Floors,NaN,undefined,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'Lal...",NaN,NaN,NaN,"['Environment3.5 out of 5', 'Lifestyle4 out of...",M69654546

In [20]:
df.rename(columns= {'rate': 'price_per_sqft'}, inplace= True)

In [21]:
df.drop(columns= 'property_id', inplace= True)

In [22]:
df['property_name'] = df['property_name'].apply(lambda x: x.lower())
df.head(2)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,Unnamed: 16,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,Bptp Visionnaire,5.25 Crore,"â‚¹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 bedroom house for sale in sector 21a faridabad,NaN,5.7 Crore,"â‚¹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [25]:
df['sector1'] = df['property_name'].str.split('sector').str.get(1).str.split(' ').str.get(0)
df['sector2'] = df['address'].str.split('sector').str.get(1).str.split(' ').str.get(0).str.strip().str.extract(r'(\d+)')[0]
df['sector3'] = df['address'].str.split('Sector').str.get(1).str.split(' ').str.get(0).str.strip().str.extract(r'(\d+)')[0]

In [26]:
df.sample(4)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,facing,agePossession,nearbyLocations,Unnamed: 16,furnishDetails,features,rating,sector1,sector2,sector3
41,2 bedroom house for sale in narsinghpur,sector 37,55.11 Lac,"â‚¹ 7,290/sq.ft.",(70 sq.m.) Plot Area,Plot area 84(70.23 sq.m.)Built Up area: 83 sq....,2 Bedrooms,1 Bathroom,1 Balcony,Store Room,...,East,0 to 1 Year Old,"['S.R.S. Hospital and Critical Care Unit', 'Ko...",NaN,"['1 Wardrobe', '10 Light', '1 Modular Kitchen'...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,NaN,NaN,NaN
392,3 bedroom house for sale in sector 89 gurgaon,Smart World Gems,1.25 Crore,"â‚¹ 8,784/sq.ft.",(132 sq.m.) Built-up Area,Built Up area: 1423 (132.2 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,"Study Room,Others",...,NaN,2024-06-01 00:00:00,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",NaN,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",,NaN,NaN
519,3 bedroom house for sale in bhondsi,NaN,44 Lac,"â‚¹ 4,251/sq.ft.",(96 sq.m.) Carpet Area,Carpet area: 115 (96.15 sq.m.),3 Bedrooms,2 Bathrooms,1 Balcony,"Pooja Room,Others",...,NaN,1 to 5 Year Old,NaN,NaN,NaN,"['Water Storage', 'Recently Renovated', 'Visit...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN,NaN,NaN
665,9 bedroom house for sale in sector 45 gurgaon,NaN,4.49 Crore,"â‚¹ 24,455/sq.ft.",(171 sq.m.) Plot Area,Plot area 204(170.57 sq.m.),9 Bedrooms,9 Bathrooms,3+ Balconies,Others,...,North-West,5 to 10 Year Old,"['Huda city centre metro station', 'Axis bank ...",NaN,"['9 Wardrobe', '12 Fan', '1 Exhaust Fan', '10 ...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5...",,NaN,NaN

In [27]:
df['sector'] = df['sector1'].fillna(df['sector2']).fillna(df['sector3'])
df['sector'].value_counts().sum()

np.int64(466)

In [29]:
df.drop(columns= ['sector1', 'sector2', 'sector3'], inplace= True)

In [30]:
df.sample(3)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,Unnamed: 16,furnishDetails,features,rating,sector
565,5 bedroom house for sale in dlf phase 1,NaN,4.5 Crore,"â‚¹ 33,333/sq.ft.",(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),5 Bedrooms,5 Bathrooms,3+ Balconies,NaN,"DLF Phase 1, Gurgaon, Haryana",2 Floors,NaN,10+ Year Old,"['Guru dronacharya metro station', 'Dlf phase ...",NaN,NaN,['Water Storage'],"['Environment5 out of 5', 'Lifestyle5 out of 5...",NaN
526,10 bedroom house for sale in rajiv nagar,NaN,9 Crore,"â‚¹ 100,000/sq.ft.",(84 sq.m.) Plot Area,Plot area 900(83.61 sq.m.),10 Bedrooms,5 Bathrooms,3+ Balconies,NaN,"Rajiv Nagar, Gurgaon, Haryana",4 Floors,NaN,10+ Year Old,"['Sheetla Mata Mandir', 'Hsbc bank ATM', 'Hdfc...",NaN,"['1 Geyser', '2 AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5...",NaN
695,5 bedroom house for sale in sushant lok phase 3,NaN,8.31 Crore,"â‚¹ 24,171/sq.ft.",(319 sq.m.) Plot Area,Plot area 382(319.4 sq.m.),5 Bedrooms,6 Bathrooms,3+ Balconies,"Store Room,Pooja Room,Servant Room,Study Room","Corner Villa, Sushant Lok Phase 3, Gurgaon, Ha...",4 Floors,North-East,10+ Year Old,"['Radhakrishna Shani Mandir', 'Sanatan Dharm M...",NaN,[],"['Feng Shui / Vaastu Compliant', 'False Ceilin...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN

In [37]:
col = df.columns.tolist()
col.remove('sector')
col.insert(1, 'sector')
df = df[col]

In [38]:
df['sector'].value_counts()

sector
        459
-33       4
-57       1
-105      1
-5        1
Name: count, dtype: int64

In [44]:
df[df['sector'].notna()]['sector']

0
1
3
6
17
       ..
1028
1032
1034
1035
1040
Name: sector, Length: 466, dtype: object

In [46]:
df.shape

(1041, 20)

In [45]:
df.head(3)

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,Unnamed: 16,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25 Crore,"â‚¹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 bedroom house for sale in sector 21a faridabad,,NaN,5.7 Crore,"â‚¹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 bedroom house for sale in sushant lok phase 1,NaN,NaN,2.1 Crore,"â‚¹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [49]:
df.rename(columns= {'Unnamed: 16': 'description'}, inplace= True)

In [50]:
df.rename(columns= {'noOfFloor': 'floorNum'}, inplace= True)

In [53]:
df['price'] = df['price'].apply(
    lambda x: float(x.split(' ')[0]) / 100 if isinstance(x, str) and 'Lac' in x
    else float(x.split(' ')[0]) if isinstance(x, str) and 'Crore' in x
    else x
)

In [54]:
df['price'].value_counts()

price
3.50    19
5.50    17
6.50    16
6.00    14
5.00    13
        ..
3.80     1
7.45     1
7.42     1
6.09     1
2.98     1
Name: count, Length: 302, dtype: int64

In [55]:
df.head(1)

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25,"â‚¹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [56]:
df['price_per_sqft'] = df['price_per_sqft'].str.split('â‚¹').str.get(1).str.split('/').str.get(0).str.replace(',', '').astype(float)

In [57]:
df.head(3)

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 bedroom house for sale in sector 21a faridabad,,NaN,5.7,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 bedroom house for sale in sushant lok phase 1,NaN,NaN,2.1,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [60]:
with pd.option_context('display.max_rows', None):
    print(df['area'].value_counts())

area
(301 sq.m.) Plot Area            44
(84 sq.m.) Plot Area             37
(251 sq.m.) Plot Area            31
(167 sq.m.) Plot Area            26
(420 sq.m.) Plot Area            24
(226 sq.m.) Plot Area            22
(418 sq.m.) Plot Area            21
(125 sq.m.) Plot Area            19
(201 sq.m.) Plot Area            18
(180 sq.m.) Plot Area            18
(135 sq.m.) Plot Area            16
(50 sq.m.) Plot Area             16
(209 sq.m.) Plot Area            14
(42 sq.m.) Plot Area             12
(171 sq.m.) Plot Area            12
(293 sq.m.) Plot Area            11
(334 sq.m.) Plot Area            11
(220 sq.m.) Plot Area            11
(33 sq.m.) Plot Area             11
(264 sq.m.) Plot Area            10
(145 sq.m.) Plot Area             9
(51 sq.m.) Plot Area              9
(136 sq.m.) Plot Area             8
(502 sq.m.) Plot Area             8
(151 sq.m.) Plot Area             8
(161 sq.m.) Plot Area             7
(134 sq.m.) Plot Area             7
(242 sq.m.) Plot Area             7
(836 sq.m.) Plot Area             6
(100 sq.m.) Plot Area             6
(650 sq.m.) Built-up Area         6
(279 sq.m.) Built-up Area         6
(5 sq.m.) Plot Area               6
(372 sq.m.) Plot Area             6
(52 sq.m.) Plot Area              6
(56 sq.m.) Plot Area              5
(350 sq.m.) Plot Area             5
(84 sq.m.) Carpet Area            5
(6 sq.m.) Plot Area               5
(241 sq.m.) Plot Area             5
(579 sq.m.) Plot Area             5
(286 sq.m.) Plot Area             5
(521 sq.m.) Built-up Area         5
(42 sq.m.) Built-up Area          5
(93 sq.m.) Plot Area              5
(435 sq.m.) Plot Area             5
(109 sq.m.) Plot Area             4
(316 sq.m.) Plot Area             4
(217 sq.m.) Plot Area             4
(7 sq.m.) Plot Area               4
(253 sq.m.) Plot Area             4
(418 sq.m.) Built-up Area         4
(293 sq.m.) Built-up Area         4
(297 sq.m.) Plot Area             4
(54 sq.m.) Plot Area              4
(93 sq.m.) Built-up Area          4
(84 sq.m.) Built-up Area          4
(37 sq.m.) Plot Area              3
(142 sq.m.) Plot Area             3
(14 sq.m.) Plot Area              3
(100 sq.m.) Built-up Area         3
(139 sq.m.) Plot Area             3
(268 sq.m.) Plot Area             3
(158 sq.m.) Plot Area             3
(105 sq.m.) Plot Area             3
(28 sq.m.) Plot Area              3
(107 sq.m.) Plot Area             3
(543 sq.m.) Built-up Area         3
(22 sq.m.) Plot Area              3
(91 sq.m.) Plot Area              3
(98 sq.m.) Plot Area              3
(125 sq.m.) Built-up Area         3
(144 sq.m.) Plot Area             3
(99 sq.m.) Plot Area              3
(9 sq.m.) Plot Area               3
(167 sq.m.) Built-up Area         3
(223 sq.m.) Plot Area             3
(376 sq.m.) Plot Area             3
(230 sq.m.) Plot Area             3
(89 sq.m.) Plot Area              3
(140 sq.m.) Plot Area             3
(63 sq.m.) Plot Area              3
(460 sq.m.) Plot Area             3
(67 sq.m.) Plot Area              3
(557 sq.m.) Built-up Area         3
(102 sq.m.) Built-up Area         3
(301 sq.m.) Built-up Area         3
(336 sq.m.) Plot Area             3
(43 sq.m.) Plot Area              2
(108 sq.m.) Plot Area             2
(33 sq.m.) Built-up Area          2
(299 sq.m.) Plot Area             2
(15 sq.m.) Built-up Area          2
(45 sq.m.) Built-up Area          2
(146 sq.m.) Plot Area             2
(467-681 sq.m.) Built-up Area     2
(139 sq.m.) Built-up Area         2
(115 sq.m.) Plot Area             2
(93 sq.m.) Carpet Area            2
(74 sq.m.) Built-up Area          2
(167 sq.m.) Carpet Area           2
(521 sq.m.) Plot Area             2
(232 sq.m.) Plot Area             2
(135 sq.m.) Carpet Area           2
(110 sq.m.) Carpet Area           2
(59 sq.m.) Plot Area              2
(132 sq.m.) Built-up Area         2
(372-441 sq.m.) Built-up Area     2
(85 sq.m.) Plot Area              2
(40 sq.m.) Carpet Area            2
(681 sq.m.) Built-up Area         2
(41 sq.m.) Plot Area              2
(325 sq.m.) Built-up Area         2
(292-358 sq.m.) Built-up Area     2
(468-681 sq.m.) Built-up Area     2
(606 sq.m.) Built-up Area         2
(590-687 sq.m.) Built-up Area     2
(5 sq.m.) Built-up Area           2
(606-754 sq.m.) Built-up Area     2
(121 sq.m.) Plot Area             2
(15 sq.m.) Plot Area              2
(353 sq.m.) Built-up Area         2
(25 sq.m.) Plot Area              2
(73 sq.m.) Plot Area              2
(46 sq.m.) Plot Area              2
(344 sq.m.) Built-up Area         2
(149 sq.m.) Built-up Area         2
(223 sq.m.) Built-up Area         2
(207 sq.m.) Built-up Area         2
(113 sq.m.) Plot Area             2
(111 sq.m.) Built-up Area         2
(251 sq.m.) Built-up Area         2
(89 sq.m.) Built-up Area          2
(372 sq.m.) Built-up Area         2
(83 sq.m.) Plot Area              2
(184 sq.m.) Plot Area             2
(244 sq.m.) Plot Area             2
(70 sq.m.) Built-up Area          2
(46 sq.m.) Built-up Area          2
(209 sq.m.) Built-up Area         2
(593 sq.m.) Built-up Area         2
(318 sq.m.) Plot Area             2
(186 sq.m.) Built-up Area         2
(121 sq.m.) Built-up Area         2
(44 sq.m.) Plot Area              2
(166 sq.m.) Plot Area             2
(46 sq.m.) Carpet Area            2
(222 sq.m.) Plot Area             2
(34 sq.m.) Plot Area              2
(650 sq.m.) Plot Area             2
(321 sq.m.) Plot Area             2
(232 sq.m.) Carpet Area           2
(105 sq.m.) Built-up Area         2
(76 sq.m.) Built-up Area          2
(88 sq.m.) Plot Area              2
(75 sq.m.) Carpet Area            2
(301 sq.m.) Carpet Area           2
(219 sq.m.) Built-up Area         2
(149 sq.m.) Plot Area             1
(302 sq.m.) Plot Area             1
(128 sq.m.) Plot Area             1
(181 sq.m.) Plot Area             1
(225 sq.m.) Plot Area             1
(384-392 sq.m.) Built-up Area     1
(743 sq.m.) Built-up Area         1
(466 sq.m.) Built-up Area         1
(189 sq.m.) Plot Area             1
(26 sq.m.) Plot Area              1
(176 sq.m.) Plot Area             1
(754 sq.m.) Plot Area             1
(537 sq.m.) Plot Area             1
(234 sq.m.) Plot Area             1
(211 sq.m.) Built-up Area         1
(251-704 sq.m.) Built-up Area     1
(650-790 sq.m.) Built-up Area     1
(139-279 sq.m.) Built-up Area     1
(294-418 sq.m.) Built-up Area     1
(557 sq.m.) Plot Area             1
(206 sq.m.) Plot Area             1
(254 sq.m.) Plot Area             1
(815 sq.m.) Plot Area             1
(183 sq.m.) Built-up Area         1
(293-381 sq.m.) Built-up Area     1
(571-711 sq.m.) Built-up Area     1
(94 sq.m.) Built-up Area          1
(64 sq.m.) Plot Area              1
(13 sq.m.) Plot Area              1
(511 sq.m.) Built-up Area         1
(360 sq.m.) Plot Area             1
(2592 sq.m.) Plot Area            1
(1254 sq.m.) Plot Area            1
(743 sq.m.) Plot Area             1
(339 sq.m.) Plot Area             1
(260 sq.m.) Carpet Area           1
(261 sq.m.) Plot Area             1
(111 sq.m.) Plot Area             1
(10 sq.m.) Built-up Area          1
(159 sq.m.) Plot Area             1
(431 sq.m.) Plot Area             1
(22 sq.m.) Built-up Area          1
(18 sq.m.) Built-up Area          1
(50 sq.m.) Carpet Area            1
(32 sq.m.) Built-up Area          1
(2415 sq.m.) Plot Area            1
(316 sq.m.) Built-up Area         1
(302 sq.m.) Carpet Area           1
(63 sq.m.) Built-up Area          1
(104 sq.m.) Built-up Area         1
(92 sq.m.) Carpet Area            1
(153 sq.m.) Plot Area             1
(278 sq.m.) Built-up Area         1
(133 sq.m.) Plot Area             1
(44 sq.m.) Built-up Area          1
(20 sq.m.) Built-up Area          1
(28 sq.m.) Carpet Area            1
(12 sq.m.) Built-up Area          1
(200 sq.m.) Built-up Area         1
(326 sq.m.) Plot Area             1
(465 sq.m.) Plot Area             1
(92 sq.m.) Plot Area              1
(697 sq.m.) Built-up Area         1
(160 sq.m.) Plot Area             1
(509-543 sq.m.) Built-up Area     1
(19 sq.m.) Plot Area              1
(809371 sq.m.) Plot Area          1
(367 sq.m.) Built-up Area         1
(121 sq.m.) Carpet Area           1
(134 sq.m.) Carpet Area           1
(51 sq.m.) Built-up Area          1
(9 sq.m.) Built-up Area           1
(325 sq.m.) Plot Area             1
(144 sq.m.) Built-up Area         1
(87 sq.m.) Built-up Area          1
(177 sq.m.) Plot Area             1
(92 sq.m.) Built-up Area          1
(363 sq.m.) Built-up Area         1
(340 sq.m.) Built-up Area         1
(76 sq.m.) Plot Area              1
(151 sq.m.) Carpet Area           1
(110 sq.m.) Plot Area             1
(560 sq.m.) Plot Area             1
(233 sq.m.) Built-up Area         1
(328 sq.m.) Built-up Area         1
(20064 sq.m.) Plot Area           1
(929 sq.m.) Carpet Area           1
(483 sq.m.) Built-up Area         1
(24 sq.m.) Plot Area              1
(49 sq.m.) Plot Area              1
(25 sq.m.) Built-up Area          1
(163 sq.m.) Built-up Area         1
(478 sq.m.) Built-up Area         1
(56 sq.m.) Carpet Area            1
(117 sq.m.) Built-up Area         1
(5 sq.m.) Carpet Area             1
(188 sq.m.) Built-up Area         1
(52 sq.m.) Built-up Area          1
(124 sq.m.) Plot Area             1
(49 sq.m.) Carpet Area            1
(6062 sq.m.) Carpet Area          1
(174 sq.m.) Plot Area             1
(74 sq.m.) Plot Area              1
(390 sq.m.) Plot Area             1
(117 sq.m.) Plot Area             1
(65 sq.m.) Plot Area              1
(58 sq.m.) Plot Area              1
(234 sq.m.) Carpet Area           1
(44 sq.m.) Carpet Area            1
(96 sq.m.) Carpet Area            1
(207 sq.m.) Carpet Area           1
(138 sq.m.) Built-up Area         1
(54 sq.m.) Built-up Area          1
(7692 sq.m.) Plot Area            1
(111 sq.m.) Carpet Area           1
(220 sq.m.) Built-up Area         1
(195 sq.m.) Carpet Area           1
(204 sq.m.) Plot Area             1
(124 sq.m.) Built-up Area         1
(291 sq.m.) Carpet Area           1
(242 sq.m.) Built-up Area         1
(57 sq.m.) Plot Area              1
(135 sq.m.) Built-up Area         1
(98 sq.m.) Built-up Area          1
(47 sq.m.) Plot Area              1
(132 sq.m.) Plot Area             1
(66 sq.m.) Plot Area              1
(152 sq.m.) Plot Area             1
(201 sq.m.) Built-up Area         1
(186 sq.m.) Carpet Area           1
(281 sq.m.) Plot Area             1
(102 sq.m.) Carpet Area           1
(13 sq.m.) Built-up Area          1
(246 sq.m.) Plot Area             1
(107 sq.m.) Carpet Area           1
(71 sq.m.) Plot Area              1
(162 sq.m.) Built-up Area         1
(437 sq.m.) Built-up Area         1
(339 sq.m.) Built-up Area         1
(100 sq.m.) Carpet Area           1
(354 sq.m.) Plot Area             1
(73 sq.m.) Carpet Area            1
(69 sq.m.) Plot Area              1
(143 sq.m.) Built-up Area         1
(585 sq.m.) Built-up Area         1
(95 sq.m.) Plot Area              1
(176 sq.m.) Built-up Area         1
(79 sq.m.) Plot Area              1
(80 sq.m.) Plot Area              1
(158 sq.m.) Built-up Area         1
(291 sq.m.) Plot Area             1
(255 sq.m.) Plot Area             1
(70 sq.m.) Plot Area              1
(300 sq.m.) Plot Area             1
(210 sq.m.) Plot Area             1
(471 sq.m.) Plot Area             1
(1003 sq.m.) Plot Area            1
(23 sq.m.) Carpet Area            1
(401 sq.m.) Plot Area             1
(75 sq.m.) Built-up Area          1
(31 sq.m.) Built-up Area          1
(4 sq.m.) Plot Area               1
(153 sq.m.) Built-up Area         1
(325 sq.m.) Carpet Area           1
(249 sq.m.) Built-up Area         1
(71 sq.m.) Built-up Area          1
(18 sq.m.) Plot Area              1
(60 sq.m.) Plot Area              1
(130 sq.m.) Plot Area             1
(222 sq.m.) Built-up Area         1
(465 sq.m.) Built-up Area         1
(594 sq.m.) Built-up Area         1
(251 sq.m.) Carpet Area           1
(319 sq.m.) Plot Area             1
(283 sq.m.) Plot Area             1
(1049 sq.m.) Plot Area            1
(23 sq.m.) Plot Area              1
(90 sq.m.) Plot Area              1
(56 sq.m.) Built-up Area          1
(186 sq.m.) Plot Area             1
(180 sq.m.) Built-up Area         1
(112 sq.m.) Built-up Area         1
(585 sq.m.) Plot Area             1
(452 sq.m.) Built-up Area         1
(196 sq.m.) Plot Area             1
(590 sq.m.) Built-up Area         1
(213 sq.m.) Plot Area             1
(21 sq.m.) Plot Area              1
(509 sq.m.) Plot Area             1
(669 sq.m.) Plot Area             1
(385 sq.m.) Plot Area             1
(308 sq.m.) Plot Area             1
(102 sq.m.) Plot Area             1
(1115 sq.m.) Plot Area            1
(16 sq.m.) Plot Area              1
(190 sq.m.) Plot Area             1
(393 sq.m.) Plot Area             1
(595 sq.m.) Built-up Area         1
(55 sq.m.) Plot Area              1
(305 sq.m.) Plot Area             1
(543 sq.m.) Plot Area             1
(8 sq.m.) Plot Area               1
(422 sq.m.) Plot Area             1
(40 sq.m.) Plot Area              1
(540 sq.m.) Built-up Area         1
(168 sq.m.) Plot Area             1
(179 sq.m.) Plot Area             1
(12 sq.m.) Plot Area              1
(443 sq.m.) Plot Area             1
(194 sq.m.) Plot Area             1
(136 sq.m.) Built-up Area         1
(194 sq.m.) Built-up Area         1
(314 sq.m.) Plot Area             1
(288 sq.m.) Plot Area             1
(450 sq.m.) Plot Area             1
(250 sq.m.) Plot Area             1
(4699 sq.m.) Plot Area            1
(155 sq.m.) Plot Area             1
(510 sq.m.) Plot Area             1
(248 sq.m.) Built-up Area         1
Name: count, dtype: int64

In [61]:
pd.set_option('display.max_rows', None)

In [58]:
df['area'].value_counts()

area
(301 sq.m.) Plot Area        44
(84 sq.m.) Plot Area         37
(251 sq.m.) Plot Area        31
(167 sq.m.) Plot Area        26
(420 sq.m.) Plot Area        24
                             ..
(250 sq.m.) Plot Area         1
(4699 sq.m.) Plot Area        1
(155 sq.m.) Plot Area         1
(510 sq.m.) Plot Area         1
(248 sq.m.) Built-up Area     1
Name: count, Length: 378, dtype: int64

In [65]:
df[df['area'] == 467-681]

Empty DataFrame
Columns: [property_name, sector, society, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [62]:
df.head(2)

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 bedroom house for sale in sector 21a faridabad,,NaN,5.7,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [66]:
df.drop(columns= 'area', inplace= True)

In [ ]:
df['area'] = (df['price']*10000000)/df['price_per_sqft']

df.head(2)

,property_name,sector,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,area
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25,20115.0,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",2609.992543
1,5 bedroom house for sale in sector 21a faridabad,,NaN,5.7,105751.0,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,539.001995

In [71]:
df['area'] = df['area'].astype(float)

In [75]:
df['area'] = round(df['area'], 0)

In [73]:
cols = df.columns.tolist()
cols.remove('area')
cols.insert(5, 'area')  # Makes 'sector' the second column (index 1)
df = df[cols]

In [76]:
df.head(1)

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [86]:
df['bedRoom'] = df['bedRoom'].astype(str)
df['bathroom'] = df['bathroom'].astype(str)
df['balcony'] = df['balcony'].astype(str)

In [87]:
df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype(float)
df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype(float)
df['balcony'] = df['balcony'].str.split(' ').str.get(0)

In [88]:
df.sample(3)

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
364,5 bedroom house for sale in sector 108 gurgaon,,Sobha City,NaN,NaN,NaN,Built Up area: 7331 (681.07 sq.m.),5.0,1.0,No,NaN,"Sector 109, Sector 108 Gurgaon, Gurgaon, Haryana",1 Floors,NaN,10+ Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",NaN,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4.5 out of..."
605,3 bedroom house for sale in huda saraswati vihar,NaN,NaN,0.65,144444.0,45.0,Plot area 45(4.18 sq.m.),3.0,3.0,2,NaN,"HUDA Saraswati Vihar, Gurgaon, Haryana",3 Floors,East,10+ Year Old,NaN,NaN,"['6 Wardrobe', '5 Fan', '10 Light', 'No AC', '...","['Water Storage', 'Park']",NaN
281,6 bedroom house for sale in dlf phase 2,NaN,NaN,16.0,26667.0,6000.0,Built Up area: 6000 (557.42 sq.m.),6.0,5.0,2,NaN,"Sikandarpur To Dlf Phase 2, DLF Phase 2, Gurga...",3 Floors,East,1 to 5 Year Old,NaN,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [89]:
df['floorNum'] = df['floorNum'].str.split(' ').str.get(0)

In [90]:
df['floorNum'].value_counts()

floorNum
3     309
2     300
1     183
4     139
5       9
0       6
14      3
6       3
10      2
11      2
12      2
21      1
13      1
27      1
02      1
20      1
41      1
51      1
16      1
33      1
Name: count, dtype: int64

In [92]:
df.shape

(1041, 20)

In [93]:
df['additionalRoom'].fillna('not available',inplace=True)
df['additionalRoom'] = df['additionalRoom'].str.lower()

In [94]:
df['balcony'].value_counts()

balcony
3+     374
2      224
3      163
No     118
1      108
nan     54
Name: count, dtype: int64

In [95]:
df = df[~df['bedRoom'].isnull()]

In [97]:
df['balcony'] = df['balcony'].str.replace('No','0')

In [98]:
df.shape

(987, 20)

In [99]:
df.head()

,property_name,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 bedroom house for sale in sector 70a gurgaon,,Bptp Visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5.0,4.0,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",NaN,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 bedroom house for sale in sector 21a faridabad,,NaN,5.7,105751.0,539.0,Plot area 539(50.07 sq.m.),5.0,4.0,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NaN,5 to 10 Year Old,NaN,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 bedroom house for sale in sushant lok phase 1,NaN,NaN,2.1,38251.0,549.0,Plot area 61(51 sq.m.),10.0,10.0,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 bedroom house for sale in sector 54 gurgaon,,NaN,5.0,43066.0,1161.0,Plot area 129(107.86 sq.m.),21.0,21.0,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...",NaN,"['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 bedroom house for sale in sushant lok phase 1,NaN,NaN,3.0,53763.0,558.0,Plot area 62(51.84 sq.m.),12.0,12.0,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."